body {
  font-family: 'Courier New', monospace;
  font-size: 48px;
  font-weight: bold;
  background-color: aqua;
}

table {
  border-collapse: collapse;
  border: 2px solid #eee;
  margin: 0 auto;
  padding: 0px;
}

@media (min-width: 1300px) {
  #contents {
    display: flex;
  }

  .calen {
    margin-right: 0;
  }

  .photo {
    margin-left: 0;
  }

  #main {
    margin-top: 0px;
    /* width: 815px;
    height: 614px; */
    width: 830px;
    height: 724px;
    vertical-align: bottom;
  }
}

thead {
  background: #eee;
  line-height: 24px;
}

th {
  padding: 16px;
  text-align: center;
}

.calen td {
  padding: 0px;
  text-align: center;
}

.photo td {
  text-align: center;
}



td.snday {
  background: pink;
}

td.stday {
  background: skyblue;
}

#caltex tr:first-child {
  font-size: 10px;
  background: aqua;
  opacity: 0;
}

#caltex tr:nth-child(even) {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
  color: blue;
}

td.disabled {
  opacity: 0.2;
}

td.njhday {
  opacity: 0;
}

td.today {
  font-style: italic;
  text-decoration: underline;
}

td.wday {
  color: green;
}

td.phday {
  border-style: solid;
  border-width: thin;
  border-color: blue;
}

td.rhday {
  background: hotpink;
  opacity: 0.7;
  border-radius: 30px;
}

tr.commentLine {
  padding: 0px;
}

td.jhday::after {
  content: '*';
}

#prev,
#next,
#today,
#nextpic,
#play {
  font-size: 32px;
  cursor: pointer;
  user-select: none;
}

#main {
  margin-top: 0px;
  width: 830px;
  height: 724px;
  /* width: 830px;
  height: 724px; */
  vertical-align: bottom;
}